body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, rgb(19, 19, 19) 0%, rgb(10, 10, 10) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.Container {
  width: 40%;
  margin: 30px;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed white;
}

/*SPINNER UPLOADER */

.Spinner-uploader-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 30px;
}

.Spinner-uploader-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 50%;
}

.Spinner-uploader-circle:hover {
  background-color: #ffffff17;
  transition: all 0.2s ease-in-out;
}

.Spinner-loader-ball-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Spinner-loader-ball {
  z-index: 1;
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 50%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.Spinner-loader-action {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.Spinner-loader-action svg {
  fill: white;
  width: 60px;
  height: 60px;
}

.Spinnner-uploader-percentage {
  color: white;
  font-size: 1.5rem;
}

/*FILL CIRCLE UPLOADER*/

.Fill-circle-uploader-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 30px;
  /* filter: drop-shadow(10px 10px 1px #0c0c0c6b); */
}

.Fill-circle-uploader-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.Fill-circle-uploader-circle:hover {
  background-color: #ffffff17;
  transition: all 0.2s ease-in-out;
}

.Fill-circle-uploader-action {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.Fill-circle-uploader-action svg {
  fill: white;
  width: 60px;
  height: 60px;
}

.Fill-circle-uploader-percentage {
  color: white;
  font-size: 1.5rem;
}

.Fill-circle-uploader-filling {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 0%;
  background: rgba(255, 255, 255, 0.562);
}

/* KEYFRAMES */

@keyframes spinner-loader-ball-shrink {
  0% {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  100% {
    background-color: black;
    width: 25%;
    height: 25%;
  }
}

@keyframes spinner-loader-ball-grow {
  0% {
    background-color: black;
    width: 25%;
    height: 25%;
  }
  100% {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes show {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
